# US National Map

US wide map of 5 cities (dallas, manhattan, la, chicago, etc. or all) and when you hover over each market, you can see the internal_class_rent. This means you can compare what the internal class rent is for la vs chicago versus any other city. And this is used in the beginning stages for a client who is looking ot expand and is highly price sensitive

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
leasing = pd.read_csv("/Users/kaylienguyen/Downloads/Lease-revised.csv")
leasing.head

<bound method NDFrame.head of         year  quarter  monthsigned   market            building_name  \
0       2018        1          1.0  Atlanta  10 Glenlake North Tower
1       2018        1          1.0  Atlanta            100 City View
2       2018        1          1.0  Atlanta            1000 Parkwood
3       2018        1          1.0  Atlanta           1100 Circle 75
4       2018        1          1.0  Atlanta             1200 Ashwood
...      ...      ...          ...      ...                      ...
194680  2024        4         12.0    Tampa              Building II
194681  2024        4         12.0    Tampa             Midtown East
194682  2024        4         12.0    Tampa               Park Tower
194683  2024        4         12.0    Tampa          Rivergate Tower
194684  2024        4         12.0    Tampa                 Spectrum

                                              building_id  \
0       Atlanta_Central Perimeter_Atlanta_10 Glenlake ...
1       Atlanta_Northwest_Atlanta_100 City View_3330 C...
2       Atlanta_Northwest_Atlanta_1000 Parkwood_1000 P...
3       Atlanta_Northwest_Atlanta_1100 Circle 75_1100 ...
4       Atlanta_Central Perimeter_Atlanta_1200 Ashwood...
...                                                   ...
194680  Tampa_Westshore_Tampa_Building II_3111 W Dr Ma...
194681    Tampa_Westshore_Tampa_Midtown East_1 Midtown Pl
194682    Tampa_Tampa CBD_Tampa_Park Tower_400 N Tampa St
194683  Tampa_Tampa CBD_Tampa_Rivergate Tower_400 N As...
194684  Tampa_Westshore_Tampa_Spectrum_3101 W Dr Marti...

                                  address region     city state  ...  \
0                      10 Glenlake Pky NE  South  Atlanta    GA  ...
1                    3330 Cumberland Blvd  South  Atlanta    GA  ...
2                    1000 Parkwood Cir SE  South  Atlanta    GA  ...
3                   1100 Circle 75 Pky SE  South  Atlanta    GA  ...
4                        1200 Ashwood Pky  South  Atlanta    GA  ...
...                                   ...    ...      ...   ...  ...
194680  3111 W Dr Martin Luther King Blvd  South    Tampa    FL  ...
194681                       1 Midtown Pl  South    Tampa    FL  ...
194682                     400 N Tampa St  South    Tampa    FL  ...
194683                    400 N Ashley Dr  South    Tampa    FL  ...
194684  3101 W Dr Martin Luther King Blvd  South    Tampa    FL  ...

        overall_rent direct_available_space direct_availability_proportion  \
0          24.345689                    NaN                            NaN
1          24.345689                    NaN                            NaN
2          24.345689                    NaN                            NaN
3          24.345689                    NaN                            NaN
4          24.345689                    NaN                            NaN
...              ...                    ...                            ...
194680     29.460000              4227315.0                         0.0779
194681     29.460000              4227315.0                         0.0779
194682     29.460000              3967413.0                         0.0731
194683     29.460000              4227315.0                         0.0779
194684     29.460000              3967413.0                         0.0731

        direct_internal_class_rent direct_overall_rent sublet_available_space  \
0                              NaN                 NaN                    NaN
1                              NaN                 NaN                    NaN
2                              NaN                 NaN                    NaN
3                              NaN                 NaN                    NaN
4                              NaN                 NaN                    NaN
...                            ...                 ...                    ...
194680                   33.566518           29.801662              1545553.0
194681                   33.566518           29.801662              1545553.0
194682                   25.777557           29.801662               924341.0
194683                   33.566518           29.801662              1545553.0
194684                   25.777557           29.801662               924341.0

       sublet_availability_proportion sublet_internal_class_rent  \
0                                 NaN                        NaN
1                                 NaN                        NaN
2                                 NaN                        NaN
3                                 NaN                        NaN
4                                 NaN                        NaN
...                               ...                        ...
194680                         0.0285                  26.162086
194681                         0.0285                  26.162086
194682                         0.0170                  22.768426
194683                         0.0285                  26.162086
194684                         0.0170                  22.768426

        sublet_overall_rent    leasing
0                       NaN  1205126.0
1                       NaN  1205126.0
2                       NaN  1205126.0
3                       NaN   715742.0
4                       NaN  1205126.0
...                     ...        ...
194680            24.797899   770384.0
194681            24.797899   770384.0
194682            24.797899   328947.0
194683            24.797899   770384.0
194684            24.797899   328947.0

[194685 rows x 35 columns]>

In [13]:
leasing[(leasing['year'] == 2024)]
#leasing['quarter']

,year,quarter,monthsigned,market,building_name,building_id,address,region,city,state,...,overall_rent,direct_available_space,direct_availability_proportion,direct_internal_class_rent,direct_overall_rent,sublet_available_space,sublet_availability_proportion,sublet_internal_class_rent,sublet_overall_rent,leasing
41486,2024,1,1.0,Atlanta,100 Milton Park,Atlanta_North Fulton_Alpharetta_100 Milton Par...,30000 Mill Creek Ave,South,Alpharetta,GA,...,32.567671,33261231.0,0.1884,36.111845,33.631677,5802002.0,0.0329,28.384836,26.207404,1859961.0
41487,2024,1,1.0,Atlanta,10000 Avalon,Atlanta_North Fulton_Alpharetta_10000 Avalon_1...,10000 Avalon Blvd,South,Alpharetta,GA,...,32.567671,33261231.0,0.1884,36.111845,33.631677,5802002.0,0.0329,28.384836,26.207404,1859961.0
41488,2024,1,1.0,Atlanta,200 Ashford Center North,Atlanta_Central Perimeter_Atlanta_200 Ashford ...,200 Ashford Ctr N,South,Atlanta,GA,...,32.567671,33261231.0,0.1884,36.111845,33.631677,5802002.0,0.0329,28.384836,26.207404,1859961.0
41489,2024,1,1.0,Atlanta,2400 Lake Park,Atlanta_Northwest_Smyrna_2400 Lake Park_2400 L...,2400 Lake Park Dr SE,South,Smyrna,GA,...,32.567671,10842822.0,0.0614,25.320276,33.631677,2334587.0,0.0132,20.624759,26.207404,567235.0
41490,2024,1,1.0,Atlanta,2400 Lake Park,Atlanta_Northwest_Smyrna_2400 Lake Park_2400 L...,2400 Lake Park Dr SE,South,Smyrna,GA,...,32.567671,10842822.0,0.0614,25.320276,33.631677,2334587.0,0.0132,20.624759,26.207404,567235.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194680,2024,4,12.0,Tampa,Building II,Tampa_Westshore_Tampa_Building II_3111 W Dr Ma...,3111 W Dr Martin Luther King Blvd,South,Tampa,FL,...,29.460000,4227315.0,0.0779,33.566518,29.801662,1545553.0,0.0285,26.162086,24.797899,770384.0
194681,2024,4,12.0,Tampa,Midtown East,Tampa_Westshore_Tampa_Midtown East_1 Midtown Pl,1 Midtown Pl,South,Tampa,FL,...,29.460000,4227315.0,0.0779,33.566518,29.801662,1545553.0,0.0285,26.162086,24.797899,770384.0
194682,2024,4,12.0,Tampa,Park Tower,Tampa_Tampa CBD_Tampa_Park Tower_400 N Tampa St,400 N Tampa St,South,Tampa,FL,...,29.460000,3967413.0,0.0731,25.777557,29.801662,924341.0,0.0170,22.768426,24.797899,328947.0
194683,2024,4,12.0,Tampa,Rivergate Tower,Tampa_Tampa CBD_Tampa_Rivergate Tower_400 N As...,400 N Ashley Dr,South,Tampa,FL,...,29.460000,4227315.0,0.0779,33.566518,29.801662,1545553.0,0.0285,26.162086,24.797899,770384.0
194684,2024,4,12.0,Tampa,Spectrum,Tampa_Westshore_Tampa_Spectrum_3101 W Dr Marti...,3101 W Dr Martin Luther King Blvd,South,Tampa,FL,...,29.460000,3967413.0,0.0731,25.777557,29.801662,924341.0,0.0170,22.768426,24.797899,328947.0

In [33]:
df2024_Q4 = leasing[(leasing['year']== 2024) & (leasing['quarter'] == 4)]
print(df2024_Q4.head(5))
print(df2024_Q4.shape)

        year  quarter  monthsigned          market        building_name  \
187782  2024        4          1.0  Raleigh/Durham        Bristol Place
187783  2024        4          9.0         Atlanta   2295 Northlake Pky
187784  2024        4          9.0         Atlanta   2295 Northlake Pky
187785  2024        4          9.0         Atlanta   2295 Northlake Pky
187786  2024        4          9.0         Atlanta  2302 Parklake Dr NE

                                              building_id  \
187782  Raleigh/Durham_RTP/RDU_Durham_Bristol Place_48...
187783  Atlanta_Northlake_Atlanta_2295 Northlake Pky_2...
187784  Atlanta_Northlake_Atlanta_2295 Northlake Pky_2...
187785  Atlanta_Northlake_Atlanta_2295 Northlake Pky_2...
187786  Atlanta_Northlake_Atlanta_2302 Parklake Dr NE_...

                    address region     city state  ...  overall_rent  \
187782    4819 Emperor Blvd  South   Durham    NC  ...           NaN
187783  2295 Parklake Dr NE  South  Atlanta    GA  ...         32.87
187784  2295 Parklake Dr NE  South  Atlanta    GA  ...         32.87
187785  2295 Parklake Dr NE  South  Atlanta    GA  ...         32.87
187786     2302 Parklake Dr  South  Atlanta    GA  ...         32.87

       direct_available_space direct_availability_proportion  \
187782                    NaN                            NaN
187783             11246973.0                         0.0633
187784             11246973.0                         0.0633
187785             11246973.0                         0.0633
187786             11246973.0                         0.0633

        direct_internal_class_rent direct_overall_rent sublet_available_space  \
187782                         NaN                 NaN                    NaN
187783                   26.329352           34.018947              2124139.0
187784                   26.329352           34.018947              2124139.0
187785                   26.329352           34.018947              2124139.0
187786                   26.329352           34.018947              2124139.0

       sublet_availability_proportion sublet_internal_class_rent  \
187782                            NaN                        NaN
187783                          0.012                  20.589642
187784                          0.012                  20.589642
187785                          0.012                  20.589642
187786                          0.012                  20.589642

        sublet_overall_rent   leasing
187782                  NaN       NaN
187783             25.88464  342931.0
187784             25.88464  342931.0
187785             25.88464  342931.0
187786             25.88464  342931.0

[5 rows x 35 columns]
(6903, 35)

In [38]:
df2024_Q4['market'].unique()

array(['Raleigh/Durham', 'Atlanta', 'Austin', 'Baltimore', 'Boston',
       'Charlotte', 'Chicago', 'Chicago Suburbs', 'Dallas/Ft Worth',
       'Denver', 'Detroit', 'Houston', 'Los Angeles', 'Manhattan',
       'Nashville', 'Northern New Jersey', 'Northern Virginia',
       'Orange County', 'Philadelphia', 'Phoenix', 'Salt Lake City',
       'San Diego', 'San Francisco', 'Seattle', 'South Bay/San Jose',
       'South Florida', 'Southern Maryland', 'Tampa', 'Washington D.C.'],
      dtype=object)

Ensuring that internal_class_rent is consistent for every market and and internal_class. Also dropping entries where internal_class_rent is NA.

In [40]:
grouped = df2024_Q4.groupby(['market', 'internal_class'])['internal_class_rent'].nunique().reset_index()
grouped

                 market internal_class  internal_class_rent
0               Atlanta              A                    1
1               Atlanta              O                    1
2                Austin              A                    1
3                Austin              O                    1
4             Baltimore              A                    1
5             Baltimore              O                    1
6                Boston              A                    1
7                Boston              O                    1
8             Charlotte              A                    1
9             Charlotte              O                    1
10              Chicago              A                    0
11              Chicago              O                    0
12      Chicago Suburbs              A                    1
13      Chicago Suburbs              O                    1
14      Dallas/Ft Worth              A                    0
15      Dallas/Ft Worth              O                    0
16               Denver              A                    0
17               Denver              O                    0
18              Detroit              A                    1
19              Detroit              O                    1
20              Houston              A                    1
21              Houston              O                    1
22          Los Angeles              A                    1
23          Los Angeles              O                    1
24            Manhattan              A                    1
25            Manhattan              O                    1
26            Nashville              A                    1
27            Nashville              O                    1
28  Northern New Jersey              A                    1
29  Northern New Jersey              O                    1
30    Northern Virginia              A                    1
31    Northern Virginia              O                    1
32        Orange County              A                    0
33        Orange County              O                    0
34         Philadelphia              A                    1
35         Philadelphia              O                    1
36              Phoenix              A                    1
37              Phoenix              O                    1
38       Raleigh/Durham              A                    0
39       Raleigh/Durham              O                    0
40       Salt Lake City              A                    1
41       Salt Lake City              O                    1
42            San Diego              A                    1
43            San Diego              O                    1
44        San Francisco              A                    1
45        San Francisco              O                    1
46              Seattle              A                    1
47              Seattle              O                    1
48   South Bay/San Jose              A                    0
49   South Bay/San Jose              O                    0
50        South Florida              A                    1
51        South Florida              O                    1
52    Southern Maryland              A                    0
53    Southern Maryland              O                    0
54                Tampa              A                    1
55                Tampa              O                    1
56      Washington D.C.              A                    0
57      Washington D.C.              O                    0

In [43]:
# Drop rows where 'internal_class_rent' is NaN
df2024_Q4_cleaned = df2024_Q4.dropna(subset=['internal_class_rent'])

# Optional: Check the result to confirm the rows were dropped
df2024_Q4_cleaned.head()

,year,quarter,monthsigned,market,building_name,building_id,address,region,city,state,...,overall_rent,direct_available_space,direct_availability_proportion,direct_internal_class_rent,direct_overall_rent,sublet_available_space,sublet_availability_proportion,sublet_internal_class_rent,sublet_overall_rent,leasing
187783,2024,4,9.0,Atlanta,2295 Northlake Pky,Atlanta_Northlake_Atlanta_2295 Northlake Pky_2...,2295 Parklake Dr NE,South,Atlanta,GA,...,32.87,11246973.0,0.0633,26.329352,34.018947,2124139.0,0.012,20.589642,25.88464,342931.0
187784,2024,4,9.0,Atlanta,2295 Northlake Pky,Atlanta_Northlake_Atlanta_2295 Northlake Pky_2...,2295 Parklake Dr NE,South,Atlanta,GA,...,32.87,11246973.0,0.0633,26.329352,34.018947,2124139.0,0.012,20.589642,25.88464,342931.0
187785,2024,4,9.0,Atlanta,2295 Northlake Pky,Atlanta_Northlake_Atlanta_2295 Northlake Pky_2...,2295 Parklake Dr NE,South,Atlanta,GA,...,32.87,11246973.0,0.0633,26.329352,34.018947,2124139.0,0.012,20.589642,25.88464,342931.0
187786,2024,4,9.0,Atlanta,2302 Parklake Dr NE,Atlanta_Northlake_Atlanta_2302 Parklake Dr NE_...,2302 Parklake Dr,South,Atlanta,GA,...,32.87,11246973.0,0.0633,26.329352,34.018947,2124139.0,0.012,20.589642,25.88464,342931.0
187787,2024,4,9.0,Atlanta,2302 Parklake Dr NE,Atlanta_Northlake_Atlanta_2302 Parklake Dr NE_...,2302 Parklake Dr,South,Atlanta,GA,...,32.87,11246973.0,0.0633,26.329352,34.018947,2124139.0,0.012,20.589642,25.88464,342931.0

In [44]:
grouped = df2024_Q4_cleaned.groupby(['market', 'internal_class'])['internal_class_rent'].nunique().reset_index()
grouped

                 market internal_class  internal_class_rent
0               Atlanta              A                    1
1               Atlanta              O                    1
2                Austin              A                    1
3                Austin              O                    1
4             Baltimore              A                    1
5             Baltimore              O                    1
6                Boston              A                    1
7                Boston              O                    1
8             Charlotte              A                    1
9             Charlotte              O                    1
10      Chicago Suburbs              A                    1
11      Chicago Suburbs              O                    1
12              Detroit              A                    1
13              Detroit              O                    1
14              Houston              A                    1
15              Houston              O                    1
16          Los Angeles              A                    1
17          Los Angeles              O                    1
18            Manhattan              A                    1
19            Manhattan              O                    1
20            Nashville              A                    1
21            Nashville              O                    1
22  Northern New Jersey              A                    1
23  Northern New Jersey              O                    1
24    Northern Virginia              A                    1
25    Northern Virginia              O                    1
26         Philadelphia              A                    1
27         Philadelphia              O                    1
28              Phoenix              A                    1
29              Phoenix              O                    1
30       Salt Lake City              A                    1
31       Salt Lake City              O                    1
32            San Diego              A                    1
33            San Diego              O                    1
34        San Francisco              A                    1
35        San Francisco              O                    1
36              Seattle              A                    1
37              Seattle              O                    1
38        South Florida              A                    1
39        South Florida              O                    1
40                Tampa              A                    1
41                Tampa              O                    1

In [47]:
# Initialize an empty list to store the results
data = []

# Get unique markets and internal_classes
markets = df2024_Q4_cleaned['market'].unique()
internal_classes = df2024_Q4_cleaned['internal_class'].unique()

# Loop through each combination of market and internal_class
for market in markets:
    for internal_class in internal_classes:
        # Get the rent for each market and internal_class combination (mean or other aggregation)
        rent_value = df2024_Q4_cleaned[(df2024_Q4_cleaned['market'] == market) & 
                                      (df2024_Q4_cleaned['internal_class'] == internal_class)]['internal_class_rent'].mean()
        
        # Append the result to the data list
        data.append([market, internal_class, rent_value])

# Convert the list of results into a DataFrame
df_market_class_rent = pd.DataFrame(data, columns=['market', 'internal_class', 'internal_class_rent'])
df_market_class_rent

                 market internal_class  internal_class_rent
0               Atlanta              O            25.390000
1               Atlanta              A            35.330000
2                Austin              O            34.280000
3                Austin              A            51.260000
4             Baltimore              O            21.090000
5             Baltimore              A            26.330000
6                Boston              O            31.070000
7                Boston              A            57.950000
8             Charlotte              O            27.710000
9             Charlotte              A            36.730000
10      Chicago Suburbs              O            22.710000
11      Chicago Suburbs              A            31.360000
12              Detroit              O            20.000000
13              Detroit              A            23.460000
14              Houston              O            22.730000
15              Houston              A            36.230000
16          Los Angeles              O            41.020000
17          Los Angeles              A            50.080000
18            Manhattan              O            61.300511
19            Manhattan              A            84.827828
20            Nashville              O            29.370000
21            Nashville              A            39.680000
22  Northern New Jersey              O            24.890000
23  Northern New Jersey              A            32.870000
24    Northern Virginia              O            32.530000
25    Northern Virginia              A            36.370000
26         Philadelphia              O            28.270000
27         Philadelphia              A            33.890000
28              Phoenix              O            26.930000
29              Phoenix              A            32.630000
30       Salt Lake City              O            24.280000
31       Salt Lake City              A            30.170000
32            San Diego              O            33.810000
33            San Diego              A            47.740000
34        San Francisco              O            56.720000
35        San Francisco              A            75.210000
36              Seattle              O            35.780000
37              Seattle              A            50.410000
38        South Florida              O            37.010000
39        South Florida              A            54.660000
40                Tampa              O            25.600000
41                Tampa              A            32.980000

In [57]:
import pandas as pd
import plotly.express as px
import numpy as np
from geopy.geocoders import Nominatim
import time

In [59]:

# Let's assume you have a DataFrame df_market_class_rent with market and internal_class_rent columns
# For this example, I'll create a mock DataFrame with random rent values

# Define market names
markets = df_market_class_rent['market'].unique().tolist()

# Function to get latitude and longitude with retry mechanism
def get_coordinates(location_name):
    geolocator = Nominatim(user_agent="market_map")
    
    # Fix some location names for better geocoding
    location_map = {
        'Raleigh/Durham': 'Raleigh, NC, USA',
        'Dallas/Ft Worth': 'Dallas, TX, USA',
        'Manhattan': 'Manhattan, NY, USA',
        'Northern New Jersey': 'Newark, NJ, USA',
        'Northern Virginia': 'Arlington, VA, USA',
        'Orange County': 'Orange County, CA, USA',
        'South Bay/San Jose': 'San Jose, CA, USA',
        'South Florida': 'Miami, FL, USA',
        'Southern Maryland': 'Annapolis, MD, USA',
        'Chicago Suburbs': 'Evanston, IL, USA',
        'Washington D.C': 'Washington DC, USA'
    }
    
    search_name = location_map.get(location_name, location_name + ', USA')
    
    for attempt in range(3):  # Try up to 3 times
        try:
            location = geolocator.geocode(search_name)
            if location:
                return location.latitude, location.longitude
            time.sleep(1)  # Be nice to the geocoding service
        except Exception as e:
            print(f"Error geocoding {location_name}: {e}")
            time.sleep(2)  # Wait a bit longer before retrying
    
    # Return default coordinates if geocoding fails
    print(f"Could not geocode {location_name}, using default coordinates")
    return None, None

# Get coordinates for each market
coordinates = {}
for market in markets:
    lat, lon = get_coordinates(market)
    coordinates[market] = (lat, lon)
    time.sleep(1)  # Respect rate limits

# Add coordinates to DataFrame
df_market_class_rent['latitude'] = df_market_class_rent['market'].map(lambda x: coordinates[x][0])
df_market_class_rent['longitude'] = df_market_class_rent['market'].map(lambda x: coordinates[x][1])

# Remove any rows with missing coordinates
df_market_class_rentCOPY = df_market_class_rent.dropna(subset=['latitude', 'longitude'])



df_pivot = df_market_class_rent.pivot_table(
    index='market',
    columns='internal_class',
    values='internal_class_rent',
    aggfunc='mean'  # or 'first' if you have only one value per market-class
).reset_index()

# Merge pivot data with coordinates
df_for_map = pd.merge(
    df_pivot,
    df_market_class_rentCOPY[['market', 'latitude', 'longitude']].drop_duplicates(),
    on='market'
)

# Create custom hover text that shows both Class A and O rents
df_for_map['hover_text'] = df_for_map.apply(
    lambda row: f"<b>{row['market']}</b><br>" +
                f"Class A Rent: ${row['A']:.2f}<br>" +
                f"Class O Rent: ${row['O']:.2f}",
    axis=1
)

# Create the map
fig = px.scatter_geo(
    df_for_map,
    lat='latitude',
    lon='longitude',
    custom_data=['hover_text'],  # Use our custom hover text
    scope='usa',
    title='US Markets - Internal Class Rents (Class A and O)',
    projection='albers usa',  # Use Albers USA projection for better US visualization
    color='A',  # Color by Class A rent
    color_continuous_scale=px.colors.sequential.Viridis,
    labels={'A': 'Class A Rent ($)'}
)

# Update hover template to use our custom hover text
fig.update_traces(
    hovertemplate="%{customdata[0]}",
    marker=dict(
        size=15,  # Constant size for all markers
        sizemode='diameter',
        sizemin=5,
        line=dict(width=1, color='DarkSlateGrey')
    ),
    selector=dict(mode='markers')
)

# Customize layout
fig.update_layout(
    coloraxis_colorbar=dict(
        title='Class A Rent ($)',
        thicknessmode='pixels', thickness=20,
        lenmode='pixels', len=300
    ),
    geo=dict(
        showland=True,
        landcolor='rgb(217, 217, 217)',
        coastlinecolor='white',
        countrycolor='white',
        showlakes=True,
        lakecolor='rgb(255, 255, 255)',
        subunitcolor='white'
    ),
    margin=dict(r=20, t=40, l=20, b=20),
    height=600,
    width=1000
)

# Show the figure
fig.show()

# Optional: Save the figure to an HTML file
# fig.write_html("us_market_rent_map.html")

' \n# Create the map\nfig = px.scatter_geo(\n    df_market_class_rentCOPY,\n    lat=\'latitude\',\n    lon=\'longitude\',\n    hover_name=\'market\',\n    hover_data={\'internal_class_rent\': True, \'latitude\': False, \'longitude\': False},\n    size=[15] * len(df_market_class_rentCOPY),  # Constant size for all markers\n    text=\'market\',\n    scope=\'usa\',\n    title=\'US Markets - Internal Class Rent (Hover for Details)\',\n    projection=\'albers usa\',  # Use Albers USA projection for better US visualization\n    color=\'internal_class_rent\',\n    color_continuous_scale=px.colors.sequential.Viridis,\n    labels={\'internal_class_rent\': \'Rent ($)\'}\n)\n\n# Customize the marker size and color\nfig.update_traces(\n    marker=dict(\n        sizemode=\'diameter\',\n        sizemin=5,\n        line=dict(width=1, color=\'DarkSlateGrey\')\n    ),\n    selector=dict(mode=\'markers\')\n)\n\n# Customize layout\nfig.update_layout(\n    coloraxis_colorbar=dict(\n        title=\'Rent ($)\',\n        thicknessmode=\'pixels\', thickness=20,\n        lenmode=\'pixels\', len=300\n    ),\n    geo=dict(\n        showland=True,\n        landcolor=\'rgb(217, 217, 217)\',\n        coastlinecolor=\'white\',\n        countrycolor=\'white\',\n        showlakes=True,\n        lakecolor=\'rgb(255, 255, 255)\',\n        subunitcolor=\'white\'\n    ),\n    margin=dict(r=20, t=40, l=20, b=20),\n    height=600,\n    width=1000\n)\n\n# Show the figure\nfig.show()\n\n# Optional: Save the figure to an HTML file\n#fig.write_html("us_market_rent_map.html")\n'